<aside class="sidebar">
  <nav class="sidebar-nav">
    <a href="{{ '/' | relative_url }}">🏠 Home</a>
    <a href="{{ '/tenses/README.html' | relative_url }}">📖 Tenses</a>
    <nav class="sidebar-subnav">
      <a href="{{ '/tenses/01-present-simple.html' | relative_url }}">Present Simple</a>
      <a href="{{ '/tenses/02-present-continuous.html' | relative_url }}">Present Continuous</a>
      <a href="{{ '/tenses/03-present-perfect.html' | relative_url }}">Present Perfect</a>
      <a href="{{ '/tenses/04-present-perfect-continuous.html' | relative_url }}">Present Perfect Continuous</a>
      <a href="{{ '/tenses/05-past-simple.html' | relative_url }}">Past Simple</a>
      <a href="{{ '/tenses/06-past-continuous.html' | relative_url }}">Past Continuous</a>
      <a href="{{ '/tenses/07-past-perfect.html' | relative_url }}">Past Perfect</a>
      <a href="{{ '/tenses/08-past-perfect-continuous.html' | relative_url }}">Past Perfect Continuous</a>
      <a href="{{ '/tenses/09-future-simple-will.html' | relative_url }}">Future Simple (Will)</a>
      <a href="{{ '/tenses/10-future-going-to.html' | relative_url }}">Future (Going to)</a>
      <a href="{{ '/tenses/11-future-continuous.html' | relative_url }}">Future Continuous</a>
      <a href="{{ '/tenses/12-future-perfect.html' | relative_url }}">Future Perfect</a>
      <a href="{{ '/tenses/13-future-perfect-continuous.html' | relative_url }}">Future Perfect Continuous</a>
    </nav>
    <a href="{{ '/2-passive-voice' | relative_url }}">🔄 Passive Voice</a>
    <a href="{{ '/3-irregular-verbs' | relative_url }}">📝 Irregular Verbs</a>
    <a href="{{ '/4-phrasal-verbs' | relative_url }}">💬 Phrasal Verbs</a>
    <a href="{{ '/prepositions/README.html' | relative_url }}">📍 Prepositions</a>
    <nav class="sidebar-subnav">
      <a href="{{ '/prepositions/01-time.html' | relative_url }}">Time</a>
      <a href="{{ '/prepositions/02-place.html' | relative_url }}">Place</a>
      <a href="{{ '/prepositions/03-movement-direction.html' | relative_url }}">Movement</a>
      <a href="{{ '/prepositions/04-common-expressions.html' | relative_url }}">Common Expressions</a>
      <a href="{{ '/prepositions/05-adjective-combinations.html' | relative_url }}">Adjective + Prep</a>
      <a href="{{ '/prepositions/06-verb-combinations.html' | relative_url }}">Verb + Prep</a>
      <a href="{{ '/prepositions/07-common-mistakes.html' | relative_url }}">Common Mistakes</a>
    </nav>
  </nav>
</aside>

